#content{
    margin: 30px;
}

#content h1{

    width: 100%;
    float: left;

}

table {
    width: 40%;
    border-collapse: collapse;
    margin: 20px 20px;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

td{
    border: 1px solid black;
    padding: 12px 15px;

}

thead{
    background-color: rgb(204, 204, 204);
}

tbody{
    background-color: #cbd3ff;
}

#titol_estudis{
    width: 100%;
    margin-left: 20px;
}

@media (max-width: 1200px){ 
    /* Styles! */
}


@media (max-width: 800px){ 
    /* Styles! */
}


@media (min-width: 320px) and (max-width: 768px) and (orientation: landscape) { 
    /* Styles! */
}