#container-page{

    background-color: rgb(172, 126, 126);
}



#header{
    width: 100%;
    background-color: rgb(194, 160, 115);
}


#first-line{
    width: 100%;
    display: flex;

}


#first-line-left{
    width: 100%;
    background-color: deeppink;
}



#first-line-right{
    width: 100%;
    background-color: blue;
}


#second-line{
    width: 100%;
    display: flex;
}

#second-line-left{
    width: 100%;
    background-color: brown;
}



#second-line-middle{
    width: 100%;
    background-color: rgb(81, 158, 161);
}



#second-line-right{
    width: 100%;
    background-color: coral;
}



#footer-page{
    width: 100%;
}

