/* Estil general */
#container-page {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    padding: 20px; 
    box-sizing: border-box; 
}

/* Estil header */
#header {
    background-color: #4CAF50; 
    color: white; 
    padding: 20px; 
    text-align: center; 
}

/* Estil primera linia */
#first-line {
    display: flex; 
    justify-content: space-between; 
    margin: 20px 0; 
}

/* Estil segona linia */
#second-line {
    display: flex;
    justify-content: space-between; 
    margin: 20px 0; 
}

/* Primera linia */
#first-line-left, #first-line-right {
    flex: 1; 
    padding: 10px; 
    text-align: center; 
    background-color: #e7e7e7; 
    margin: 0 10px; 
}

/* Segona linia */
#second-line-left, #second-line-middle, #second-line-right {
    flex: 1;
    padding: 10px; 
    text-align: center; 
    background-color: #d9d9d9;
    margin: 0 10px; 
}

@media (max-width: 768px) {
    #first-line, #second-line {
        flex-direction: column; 
    }

    #first-line-left, #first-line-right,
    #second-line-left, #second-line-middle, #second-line-right {
        margin-bottom: 10px;
    }
}
